# gitignore template for InforCRM (formerly SalesLogix)
# website: https://www.infor.com/product-summary/cx/infor-crm/
#
# Recommended: VisualStudio.gitignore

# Ignore input files
# but keep the folder architecture
*.pdf
db.sql*

# Force empty folders
!input/
